{% extends "layout.html" %}

{% block main %}
    <h1 class="header" style="color: #abc7de;" >
        Change password
    </h1>
    <form action="/change_password" method="post">
        <div class="mb-3">
            <a>Old password:</a>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="old_password" placeholder="Old password" type="password">
        </div>
        <div class="mb-3">
            <a>Password:</a>
            <input autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <a>Password confirmation:</a>
            <input autocomplete="off" class="form-control mx-auto w-auto" name="password_confirmation" placeholder="Password confirmation" type="password">
        </div>
        <button class="btn" type="submit">Change password</button>
    </form>
{% endblock %}
