{% extends "layout.html" %}

{% block main %}
<br>
<h1 class="header"  >
    Find your perfect cleaner
</h1>
<h2 class="subheader">
    Book trusted cleaning professionals in your area
</h2>
<br>
<br>
<img src="{{ url_for('static', filename='images/homepage.jpg') }}"  width="700" height="700">
<br>
<br>
<section>
    <h1 class="header"  >
        How Household works
    </h1>
    <div class="steps">
        <div class="step">
            <h2>
                Sign Up & Log In
            </h2>
            <p>Create an account and set details.</p>
        </div>
        <div class="step">
            <h2>
                Find a cleaner 
            </h2>
            <p style="color:white">FOR CUSTOMERS</p>
            <p>Enter location, browse cleaners and choose the best fit.</p>
        </div>
        <div class="step">
            <h2>
                Offer services 
            </h2>
            <p style="color:white">FOR CLEANERS</p>
            <p>List services, pricing & availability.</p>
        </div>
        <div class="step">
            <h2>
                Book a service
            </h2>
            <p>Book a cleaning professional per phone or email.</p>
        </div>
        <div class="step">
            <h2>
                Cleaning session & payment
            </h2>
            <p>The cleaning professional arrives, completes the job and customer pays for the service.</p>
        </div>
        <div class="step">
            <h2>
                Leave a review
            </h2>
            <p>Did everything go well? Share with others!</p>
        </div>
    </div>
</section>
<br>
<br>
<h1 class="subheader">
    Ready for new job or cleaner home?
</h1>
<a href="{{ url_for('register') }}" class="btn"> Sign up</a>
<h2 class="subheader">
    Already have an account?
</h2>
<a href="{{ url_for('login') }}" class="btn"> Log in</a>
{% endblock %}
