{% extends "layout.html" %}

{% block main %}
    <h1 class="header" style="color: #abc7de" >
        Log In
    </h1>
    <form action="/login" method="post">
        <div class="mb-3">
            <a>Username:</a>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <a>Password:</a>
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn" type="submit">Log In</button>
    </form>
{% endblock %}
